server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: merchant-api

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true

acquirer:
  core:
    base-url: ${ACQUIRER_CORE_BASE_URL:http://localhost:8081}